<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Diff report for {{project_name}}</title>

    <link rel="stylesheet" type="text/css" href="../css/bootstrap-5.3.0-alpha3.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/pmd-tester.css">

    <script src="../js/jquery-3.6.4.slim.min.js"></script>
    <script src="../js/popper-2.11.7.min.js"></script>
    <script src="../js/bootstrap-5.3.0-alpha3.min.js"></script>
    <script src="../js/datatables.min.js"></script>
    <script src="../js/code-snippets.js"></script>
    <!-- This is generated -->
    <script src="./project_data.js"></script>
    <script src="./cpd_data.js"></script>
</head>
<body>
<div class="section">
    <h1>PMD Regression Tester Diff Report for {{project_name}}</h1>
</div>
<div class="section">
    <h2>Summary</h2>
    <div class="section-content">
        <table id="table-summary" class="table">
            <thead>
            <tr>
                <th></th>
                <th>Base</th>
                <th>Patch</th>
                <th>Difference</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="item"><a href="#section-violations">Violations</a>
                </td>
                <td class="base">{{diff.violation_counts.base_total}}</td>
                <td class="patch">{{diff.violation_counts.patch_total}}</td>
                <td class="diff">
                    {% include 'diff_pill_row' h: diff.violation_counts %}
                </td>
            </tr>
            <tr>
                <td class="item"><a href="#section-errors">Errors</a></td>
                <td class="base">{{diff.error_counts.base_total}}</td>
                <td class="patch">{{diff.error_counts.patch_total}}</td>
                <td class="diff">
                    {% include 'diff_pill_row' h: diff.error_counts %}
                </td>
            </tr>
            <tr>
                <td class="item"><a href="#section-configerrors">ConfigErrors</a></td>
                <td class="base">{{diff.configerror_counts.base_total}}</td>
                <td class="patch">{{diff.configerror_counts.patch_total}}</td>
                <td class="diff">
                    {% include 'diff_pill_row' h: diff.configerror_counts %}
                </td>
            </tr>
            <tr>
                <td class="item"><a href="#section-duplications">Duplications</a></td>
                <td class="base">{{cpd_diff.duplication_counts.base_total}}</td>
                <td class="patch">{{cpd_diff.duplication_counts.patch_total}}</td>
                <td class="diff">
                    {% include 'diff_pill_row' h: cpd_diff.duplication_counts %}
                </td>
            </tr>
            <tr>
                <td class="item"><a href="#section-cpd-errors">CPD Errors</a></td>
                <td class="base">{{cpd_diff.error_counts.base_total}}</td>
                <td class="patch">{{cpd_diff.error_counts.patch_total}}</td>
                <td class="diff">
                    {% include 'diff_pill_row' h: cpd_diff.error_counts %}
                </td>
            </tr>
            <tr>
                <td class="item">Execution time</td>
                <td class="base">{{diff.base_execution_time}}</td>
                <td class="patch">{{diff.patch_execution_time}}</td>
                <td class="diff">{{diff.diff_execution_time}}</td>
            </tr>
            <tr>
                <td class="item">Timestamp</td>
                <td class="base">{{diff.base_timestamp}}</td>
                <td class="patch">{{diff.patch_timestamp}}</td>
                <td class="diff"></td>
            </tr>
            <tr>
                <td class="item">PMD Exit Code</td>
                <td class="base">{{diff.base_exit_code}} <a href="base_stdout.txt">stdout</a> | <a href="base_stderr.txt">stderr</a></td>
                <td class="patch">{{diff.patch_exit_code}} <a href="patch_stdout.txt">stdout</a> | <a href="patch_stderr.txt">stderr</a></td>
                <td class="diff"></td>
            </tr>
            <tr>
                <td class="item">CPD Exit Code</td>
                <td class="base">{{cpd_diff.base_exit_code}} <a href="base_cpd_stdout.txt">stdout</a> | <a href="base_cpd_stderr.txt">stderr</a></td>
                <td class="patch">{{cpd_diff.patch_exit_code}} <a href="patch_cpd_stdout.txt">stdout</a> | <a href="patch_cpd_stderr.txt">stderr</a></td>
                <td class="diff"></td>
            </tr>
            <tr>
                <td class="item">Full Report</td>
                <td class="base"><a href="base_pmd_report.html">Base PMD Report</a></td>
                <td class="patch"><a href="patch_pmd_report.html">Patch PMD Report</a></td>
                <td class="diff"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="section" id="section-rule-summary">

    <h2>Summary by rule</h2>

    <div class="section-content">

        <div class="table-responsive">
            <table id="rule-summary" class="table">
                <thead>
                <tr>
                    <th>Rule</th>
                    <th>Base</th>
                    <th>Patch</th>
                    <th>Added</th>
                    <th>Changed</th>
                    <th>Removed</th>
                </tr>
                </thead>
                <tbody>

                {% assign sorted_rule_diffs = diff.rule_diffs | sort: 'name' %}

                {% for rule_diff in sorted_rule_diffs %}
                <tr id="rule-summary-{{rule_diff.name}}">
                    <td class="rulename">
                        {{ rule_diff.name }}
                        <span class="external-link-secondary"><a class="rulelink" href="{{rule_diff.info_url}}" target="_blank" rel="noopener noreferrer">[doc]</a></span>
                    </td>
                    <td class="basecount">{{ rule_diff.base_total }}</td>
                    <td class="patchcount">{{ rule_diff.patch_total }}</td>
                    <td class="added" data-count="{{ rule_diff.new }}">{{ rule_diff.new }}</td>
                    <td class="changed" data-count="{{ rule_diff.changed }}">{{ rule_diff.changed }}</td>
                    <td class="removed" data-count="{{ rule_diff.removed }}">{{ rule_diff.removed }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="section" id="section-violations">

    <h2>Violations</h2>

    <div class="section-content">

        <table id="violationsTable" width="100%" class="table">
            <thead>
            <tr>
                <th>Location (click row to expand)</th>
                <th>Rule</th>
                <th>Message</th>
                <th>Type</th>
            </tr>
            </thead>
        </table>

    </div>
</div>

<div class="section" id="section-errors">

    <h2>Errors</h2>

    <div class="section-content">

        <div class="table-responsive">
            <table id="error-table" class="table">
                <thead>
                 <tr>
                     <th>File</th>
                     <th>Description (click to expand)</th>
                 </tr>
                </thead>
                <tbody>
                {% for error in error_diffs %}
                <tr id="error-{{forloop.index}}" class="{{error.change_type}}" data-bs-toggle="collapse" data-bs-target="#error-{{forloop.index}}-expanded">
                    <td><a href="{{error.file_url}}"  target="_blank" rel="noopener noreferrer">{{error.short_filename}}</a></td>
                    <td>{{error.short_message | escape | replace: error.filename, "<span class='meta-var'>$FILE</span>" }}</td>
                </tr>
                <tr>
                    <td class="row-hidden" colspan="2">
                        <div class="accordion-body collapse" id="error-{{forloop.index}}-expanded">
                            <div class="collapsed-content-padder">
                                <pre>
{{ error.stack_trace_html }}
                                </pre>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="section" id="section-configerrors">

    <h2>ConfigErrors</h2>

    <div class="section-content">

        <div class="table-responsive">
            <table id="configerror-table" class="table">
                <thead>
                 <tr>
                     <th>Rule</th>
                     <th>Message</th>
                 </tr>
                </thead>
                <tbody>
                {% for configerror in configerror_diffs %}
                <tr class="configerror-row {{configerror.change_type}}">
                    <td>{{configerror.rule}}</td>
                    <td>{{configerror.message}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="section" id="section-duplications">

    <h2>Duplications</h2>

    <div class="section-content">

        <table id="duplicationsTable" width="100%" class="table">
            <thead>
            <tr>
                <th>Location (click row to expand)</th>
                <th>Lines</th>
                <th>Tokens</th>
                <th>Duplication</th>
                <th>Type</th>
            </tr>
            </thead>
        </table>

    </div>

</div>

<div class="section" id="section-cpd-errors">

    <h2>CPD Errors</h2>

    <div class="section-content">

        <div class="table-responsive">
            <table id="cpd-error-table" class="table">
                <thead>
                 <tr>
                     <th>File</th>
                     <th>Description (click to expand)</th>
                 </tr>
                </thead>
                <tbody>
                {% for error in cpd_error_diffs %}
                <tr id="cpd-error-{{forloop.index}}" class="{{error.change_type}}" data-bs-toggle="collapse" data-bs-target="#cpd-error-{{forloop.index}}-expanded">
                    <td><a href="{{error.file_url}}"  target="_blank" rel="noopener noreferrer">{{error.short_filename}}</a></td>
                    <td>{{error.short_message | escape | replace: error.filename, "<span class='meta-var'>$FILE</span>" }}</td>
                </tr>
                <tr>
                    <td class="row-hidden" colspan="2">
                        <div class="accordion-body collapse" id="cpd-error-{{forloop.index}}-expanded">
                            <div class="collapsed-content-padder">
                                <pre>
{{ error.stack_trace_html }}
                                </pre>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="../js/project-report.js"></script>

</body>
</html>
