/*body {*/
/*  padding: 0px 0px 10px 0px;*/
/*}*/
body, td, select, input, li{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13pt;
}
code{
  font-family: Courier, monospace;
  font-size: 13pt;
}
a {
  text-decoration: none;
}
a:link {
  color:#36a;
}
a:visited  {
  color:#47a;
}
a:active, a:hover {
  color:#69c;
}
#legend li.externalLink {
  background: url(../images/external.png) left top no-repeat;
  padding-left: 18px;
}
a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: url(../images/external.png) right center no-repeat;
  padding-right: 18px;
}
#legend li.newWindow {
  background: url(../images/newwindow.png) left top no-repeat;
  padding-left: 18px;
}
a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
  background: url(../images/newwindow.png) right center no-repeat;
  padding-right: 18px;
}
h2 {
  padding: 4px 4px 4px 6px;
  border: 1px solid #999;
  color: #900;
  background-color: #ddd;
  font-weight:900;
  font-size: x-large;
}
h3 {
  padding: 4px 4px 4px 6px;
  border: 1px solid #aaa;
  color: #900;
  background-color: #eee;
  font-weight: normal;
  font-size: large;
}
h4 {
  font-weight: normal;
  font-size: large;
}
h5 {
  padding: 4px 4px 4px 6px;
  color: #900;
  font-size: normal;
}
p {
  line-height: 1.3em;
  font-size: small;
}

/* newer stuff */

table {
  width: 100%;
}

span.added {
  color: green;
}
span.removed {
  color: red;
}
span.changed {
  color: darkorange;
}


div.section-content {
  margin: 100px;
}

/* Rule summary table */

#violationsTable tr.added,
#rule-summary td.added {
  background-color: #af8;
}

#violationsTable tr.removed,
#rule-summary td.removed{
  background-color: #fca;
}

#violationsTable tr.changed,
#rule-summary td.changed {
  background-color: #fef7bc;
}

#rule-summary td[data-count='0'],
#rule-summary td {
  background-color: #fefefe;
}

.rule-doc-link {
  font-size: small;
}

#rule-summary td.rule-hidden-row {
  padding: 0 !important;
  background-color: #f5f5f5;
}

div.rule-details-padder {
  margin: 10px 10px 10px 10px;
  padding: 0 0 0 40px;
  border-left: darkslategrey;
  border-left-style: solid;
}

.btn.btn-rounded {
  border-radius: 50px
}

