name: manual-integration-tests

on:
  schedule:
    # build it monthly: At 08:30 on day-of-month 1.
    - cron:  '30 8 1 * *'
  workflow_dispatch:

permissions:
  contents: read # to fetch code (actions/checkout)

env:
  LANG: 'en_US.UTF-8'

jobs:
  build:
    timeout-minutes: 120
    runs-on: ubuntu-latest
    continue-on-error: false
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 #v5.2.0
        with:
          distribution: 'temurin'
          java-version: |
            11
            21
      - name: Prepare HOME/openjdk11
        run: ln -sfn "${JAVA_HOME_11_X64}" "${HOME}/openjdk11"
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 #v5.0.3
        with:
          path: |
            ~/.m2/repository
            ~/.cache
            ~/.gradle
            vendor/bundle
            target/repositories
          key: v4-${{ runner.os }}-${{ hashFiles('pmdtester.gemspec') }}
          restore-keys: |
            v4-${{ runner.os }}-
      - name: Set up Ruby 4
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd #v1.288.0
        with:
          ruby-version: 4
      - name: Install dependencies (bundler)
        run: |
          # bundler should already be installed
          bundle --version
          bundle config set --local path vendor/bundle
          bundle install
      - name: Run Manual Integration Tests
        run: |
          bundle exec ruby -I test test/manual_integration_tests.rb
